
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>E̶m̶p̶e̶r̶o̶r̶丶blog</title>
<link rel="shortcut icon" href="/static/images/li.png">
<link href="/static/css/index.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/5imoban.css" type="text/css">

<script type="text/javascript" src="/static/js/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/easySlider1.7.js"></script>
<script type="text/javascript" src="/static/js/jquery.contactable.js"></script>

<script type="text/javascript">
  $(function(){
    $('#contact').contactable({
      subject: 'A Feeback Message'
    });
  });
</script>
</head>
<body>

<div id="contact"></div>

<header>
  <h1><a href="/">青涩の初夏</a></h1>
  <p>趁我们都还年轻,多欣赏下沿途的风景，不要错过了流年里温暖的人和物....</p>
</header>
<!--nav begin-->

</div>

<div id="nav">
  <ul>
    <li><a href="">首页</a></li>
    <li><a href="http://user.qzone.qq.com/1211615909/1">关于我</a></li>
    <li><a href="http://sweet.snsapp.qq.com/#module=main">慢生活</a></li>
    <li><a href="http://t.qq.com/vy1040790880?preview">我的分享</a></li>
    <li><a href="http://user.qzone.qq.com/1211615909/334">留言板</a></li>
  </ul>
</div>
<!--nav end-->
<div class="blank"></div>
<div class="banner">
  <ul class="boy_girl">
    <li class="girlimg"><a href="http://user.qzone.qq.com/1316076233?ptlang=2052"><span>关于她</span></a></li>
    <li class="boyimg"><a href="/"><span>关于我</span></a></li>
  </ul>
  <ul class="texts">
    <p><img src="/static/images/t-1.png" alt="人生，是一场盛大的遇见"></p>
    <p><img src="/static/images/t-2.png" alt="若你懂得，就请珍惜。"></p>
    <p><img src="/static/images/t-3.png" alt="无论下多久的雨，最后都会有彩虹；无论你多么悲伤，要相信幸福在前方等候"></p>
  </ul>
</div>
<div class="blank"></div>
<div class="memorial_day">
  <div class="time_axis"></div>
  <ul>
    <li class="n1"><a href="/">相遇</a>
      <div class="dateview">2009-06-27</div>
    </li>
    <li class="n2"><a href="/">相识</a>
      <div class="dateview">2009-12-19</div>
    </li>
    <li class="n3"><a href="/">相知</a>
      <div class="dateview">2010-07-01</div>
    </li>
    <li class="n4"><a href="/">相恋</a>
      <div class="dateview">2010-09-21</div>
    </li>
    <li class="n5"><a href="/">相爱</a>
      <div class="dateview">2011-10-05</div>
    </li>
  </ul>
</div>
<div class="blank"></div>
<article>
  <div class="l_box">
    <div class="about_me">
      <h2>关于我</h2>
      <ul>
        <img src="/static/images/001.jpg">
        <p>网名：E̶m̶p̶e̶r̶o̶r̶丶</p>
        <p>主页：www.duowan.com</p>
        <p>职业：lol职业玩家</p>
      </ul>
    </div>
    <div class="about_he">
      <h2>关于她</h2><ul>
        <img src="/static/images/002.jpg">
        <p>网名：        </p>
        <p>主页：www.liuqq.com</p>
        <p>职业：活动策划</p>
      </ul>
      
    </div>
    <div class="newslist">
      <h2>最新日志</h2>
      <ul>
        <li><a href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/20141027/307605.html">你的爱人，爱你的人，你爱的人</a></li>
        <li><a href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/20141022/307128.html">泪潇云涯处，逸笔寸断心</a></li>
        <li><a href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/20150111/314797.html">珍惜自己的爱情 守侯自己爱的人</a></li>
        <li><a href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/20150107/314425.html">爱情的风筝 流浪的灵魂</a></li>
        <li><a href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/20141222/313126.html">爱是一场轮回</a></li>
        <li><a href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/20141119/309806.html">那段时光，你是否还记得</a></li>
        <li><a href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/20141103/308325.html">暗恋如烟花，绚烂也落寞</a></li>
        <li><a href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/20141031/308005.html">有人在乎，就是最大的幸福</a></li>
        <li><a href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/20141029/307784.html">因为有你，我的梦里满满的都是幸福</a></li>
      </ul>
    </div>
    <div class="viny">
      <ul>
        <dl>
          <dt class="art"><img src="/static/images/003.jpg" alt="专辑"></dt>
          <dd class="icon-song"><span></span>爱在西元前</dd>
          <dd class="icon-artist"><span></span>歌手：周杰伦</dd>
          <dd class="icon-album"><span></span>专辑：《爱在西元前》</dd>
          <dd class="music">
            <audio controls="controls" loop="loop">
              <source src="" type="audio/ogg" />
              <source src="/static/song/003.mp3" type="audio/mpeg" />
              </audio>

          </dd>
          <!--也可以添加loop属性 音频加载到末尾时，会重新播放-->
        </dl>
      </ul>
    </div>
  </div>
  <!--l_box end -->
  <div class="r_box">
  {%for a in a%}
    <li> <a href="/"><img src="/media/{{a.img}}"></a>
      <h3><a href="/">{{a.biaoti}}</a></h3>
      <p>{{a.neirong}}</p>
    </li>
  {%endfor%}
  </div>
</article>
<footer>
 <script charset="Shift_JIS" src="/static/js/honehone_clock_tr.js"></script>
  <p>Design by E̶m̶p̶e̶r̶o̶r̶丶</p>
</footer>
</body>
</html>
